.button-container {
  text-align: center;
  line-height: 5;
  margin: 10px;
  color: blue;
}

.btn-increase {
  color: green;
}

#value {
  text-align: center;
  line-height: 0.5;
  font-size: 80px;
}

h1 {
  font-size: 50px;
}

body {
  text-align: center;
}
